    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>Deerful is Emma Winston, a musician based in London, UK. She writes electropop about feelings on synthesisers small enough to use on the bus and in tiny live-coding environments, and exists in a perpetual state of being far too excited about making things.</p>

                <p>Her most recent record, Tell Me I Can Fix This On My Own, examines friendship, personal transformation and loss through songs lovingly coded in the music programming language ixi lang.</p>

                <p>Her musical influences include the Postal Service, The Magnetic Fields, Kero Kero Bonito, Emmy the Great, CHVRCHES, Owen Pallett, Grimes, and the DuckTales for Game Boy soundtrack.</p>

                <p>Her performance credits include work with Darren Hayman (both on the Thankful Villages project and as experimentalist duo Brute Love), Owl &amp; Mouse, Papernut Cambridge, and Enderby’s Room. She also occasionally performs collaboratively alongside Twitter bots, both on record and live.</p>

                <hr></hr>

                <h2>Press Quotes</h2>
                
                <p><em>“(‘Peach’ is)&nbsp;a...blissful, bleepy wonder that nonetheless feels like the most human record of the year.”</em> — <a href="https://www.theguardian.com/music/gallery/2017/dec/22/observer-readers-hidden-gems-of-2017-albums">The Guardian</a></p>
                
                <p><em>"A fascinating new songwriting voice... ('Subjects Of Our Love') matches wistful vocals against deft lyrical complexity."</em> -- <a href="http://clashmusic.com/news/premiere-deerful-subjects-of-our-love">Clash Music</a></p>
                
                <p><em>"An electropop forcefield...a warm thrill of a record, tracks like 'Down' and 'Peach Rose Tea' fizz and rumble and crackle with life." -- <a href="https://electronicsound.co.uk/product/issue-30-vinyl-bundle/">Electronic Sound Magazine, issue 30</a></em></p>
                
                <p><em>"There’s heady bittersweet magic in her songwriting that I don’t think she’s spotted herself yet. Raises her far above the crowd of quirky synth-pop singers." -- <a href="https://www.m-magazine.co.uk/watchlisten/listen/playlist-chris-t-t/">Chris T-T for M Magazine</a></em></p>
                
                <p><em>"Deerful’s 'Peach'&nbsp;LP is a skewed but absorbing patchwork of sound and colour; a collection of songs that juxtaposes wild electronic flourishes with a more subtle and refrained vocal that lends the whole thing a somewhat unexpected touch of decadence." -- <a href="http://www.goldflakepaint.co.uk/album-stream-deerful-peach/">GoldFlakePaint</a></em></p>
                
                <p><i>"Like a computer dreaming of a sunrise, Princess Peach from Mario re-imagined as a kick-arse, feminist superhero, or a pixelated Joanna Newsom. This is electronic music, yes, but at its core is humanity." -- <a href="https://fortherabbits.net/2016/12/12/eps-of-the-year/">For The Rabbits, EPs Of The Year 2016</a></i></p>
                
                <p><i>"A classic painting on the inside of a crocus bouquet growing from an old computer." -- <a href="https://twitter.com/SMALLALBUMS/status/765908266765340673">Very Small Album Reviews</a></i></p>
            </div>
        </div>
    </section>