    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>Deerful is Emma Winston, a musician based in London, UK. She writes electropop about feelings on synthesisers small enough to use on the bus and in tiny live-coding environments, and exists in a perpetual state of being far too excited about making things.</p>

<p>Her most recent record, Tell Me I Can Fix This On My Own, examines friendship, personal transformation and loss through songs lovingly coded in the music programming language ixi lang.</p>

<p>Her musical influences include the Postal Service, The Magnetic Fields, Kero Kero Bonito, Emmy the Great, CHVRCHES, Owen Pallett, Grimes, and the DuckTales for Game Boy soundtrack.</p>

<p>Her performance credits include work with Darren Hayman (both on the Thankful Villages project and as experimentalist duo Brute Love), Owl &amp; Mouse, Papernut Cambridge, and Enderby’s Room. She also occasionally performs collaboratively alongside Twitter bots, both on record and live.</p>
            </div>
        </div>
    </section>