    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Deerful</h1>
                        <p class="intro-text">music by Emma Winston</p>
                        <div class="social">
    <h4>
    
      <a href="/cdn-cgi/l/email-protection#690c471e00071a1d0607290e06050d47080a471c02"><i class="fa fa-envelope"></i></a>
    

    <a href="https://soundcloud.com/deerful"><i class="fab fa-soundcloud"></i></a>

    
      <a href="https://twitter.com/deer_ful"><i class="fab fa-twitter"></i></a>

       <a href="https://instagram.com/deer_ful"><i class="fab fa-instagram"></i></a>
    

    <a href="https://patreon.com/deerful"><span class="fab fa-patreon"></span></a>

    <a rel="me" href="https://friend.camp/@deerful"><span class="fab fa-mastodon"></a>
    </h4>
</div>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
